@import "tailwindcss";
:root {
  --primary: #131145; /* Very dark purple */
  --bg: #0a0a0a; /* Near-black background */
  --text-main: #f3f4f6; /* Light gray for text */
  --text-muted: #9ca3af; /* Muted gray for secondary text */
  --section-padding: 5rem; /* Reduced for professional look */
  --section-padding-sm: 1rem; /* Smaller padding for mobile */
   --text-xl: 2rem;       /* Used for headings (e.g. name) */
  --text-lg: 1.5rem;     /* Subheadings (e.g. title) */
  --text-base: 1rem;      /* Paragraph/default body text */
  --text-sm: 0.875rem;    /* Minor labels or captions */
  --primary-light: #0a0317; /* Lighter shade for hover effects */
   --backgroundoppo: linear-gradient(190deg, #0a0a0a, #0f0624);
}

html, body {
  min-height: 100%;
  background: var(--bg);
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scroll */
}

.gradient-bg {
  background: linear-gradient(180deg, #0a0a0a, #0a0317); /* Subtle dark purple gradient */
  /* Subtle dark purple gradient */
  position: relative;
  overflow: hidden;
  z-index: 1;
}